
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: black;
    font-family: "Outfit",sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)), url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
    
        
   
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    

}


main.h1{
    
}
